.character-select-screen {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-areas: 
    "title back"
    "characters characters"
    "character-cards character-cards";
}

.title {
    grid-area: title;
}

.back {
    grid-area: back;
    width: 10vw;
    height: 10vh;
}

.characters {
    grid-area: characters;
    width: 70vw;
    height: 20vw;
}

.character-cards {
    grid-area: character-cards;
    border: 2px solid #444;
}

.character-card:hover {
    cursor: pointer;
}